# Market PlantoActual

## 1. Read data from MySQL
### 1.1. Import important packages

In [3]:
import pymysql
import pandas as pd
import decimal

### 1.2. Connect to MySQL database reconai

In [4]:
mydb = pymysql.connect(host='localhost',
                             user='root',
                             password='peacebro',database='reconai')
print(mydb)

<pymysql.connections.Connection object at 0x000001C0DC9ADEF0>

### 1.3. Read data from database

In [5]:
sql_merged_market_sales='SELECT * FROM `merged_market_sales`;'
sql_marketplan='SELECT * FROM `marketplan`'

In [6]:
df_merged = pd.read_sql(sql_merged_market_sales, mydb)
df_merged.head()

,CPG,CPG Region,Channel,Retailer,Retailer Region,Year,Week,Category,Sales
0,XYZ Manufacturing,North,Mass,SuperMart,North,2017,1,Widgets,"10,00,000.00"
1,XYZ Manufacturing,East,Mass,SuperMart,East,2017,1,Widgets,"30,00,000.00"
2,XYZ Manufacturing,South,Mass,SuperMart,Gulf Coast,2017,1,Widgets,"7,50,000.00"
3,XYZ Manufacturing,South,Mass,SuperMart,Deep South,2017,1,Widgets,"6,00,000.00"
4,XYZ Manufacturing,West,Mass,SuperMart,West,2017,1,Widgets,"42,50,000.00"

In [8]:
df_marketplan = pd.read_sql(sql_marketplan, mydb)
df_marketplan.head()

,CPG,CPG Region,Channel,Retailer,Retailer Region,Year,Week,Category,Sales
0,XYZ Manufacturing,North,Mass,SuperMart,North,2017,1,Widgets,"10,22,500.00"
1,XYZ Manufacturing,East,Mass,SuperMart,East,2017,1,Widgets,"28,66,200.00"
2,XYZ Manufacturing,South,Mass,SuperMart,Gulf Coast,2017,1,Widgets,"7,42,950.00"
3,XYZ Manufacturing,South,Mass,SuperMart,Deep South,2017,1,Widgets,"6,24,180.00"
4,XYZ Manufacturing,West,Mass,SuperMart,West,2017,1,Widgets,"44,54,850.00"

## 2. Editing Dataframe for merge
### 2.1. Convert Sales column to float type

In [9]:
def sales_product(df):
    #df['date'] = pd.to_datetime(df.assign(day=1, month=1)[['Year', 'month', 'day']])+pd.to_timedelta(df.Week*7, unit='days')
    df['Sales'] = df['Sales'].str.replace(',', '')
    df['Sales'] = df['Sales'].astype(float)
sales_product(df_merged)
sales_product(df_marketplan)

### 2.2. Summing Gulf Coast and Deep South rows together

In [11]:
def merge_south(df):
    for year in [2017,2018]:
        for week in range(1,53):
            for cpg in ['XYZ Manufacturing','AAA Industries']:
                ex=df[(df['Retailer']=='SuperMart') & (df['CPG Region']=='South') & 
                    (df['Year']==year) & (df['Week']==week)
                                         & (df['CPG']==cpg)].sum()
                ex['Sales']=round(ex['Sales'], 2)
                df.loc[(df['Retailer']=='SuperMart') & (df['CPG Region']=='South') & 
                    (df['Year']==year) & (df['Week']==week) & 
                    (df['Category']=='Widgets')& (df['CPG']==cpg),
                    'Sales'] = ex['Sales']
    return df
df_merged=merge_south(df_merged)
df_merged.drop_duplicates(subset =["CPG Region","Retailer","Sales","Year","Week","CPG"], 
                     keep = "first", inplace = True)
df_marketplan=merge_south(df_marketplan)
df_marketplan.drop_duplicates(subset =["CPG Region","Retailer","Sales","Year","Week","CPG"], 
                     keep = "first", inplace = True)

### 2.3. Summing XYZ Manufacturing and AAA Industries rows together

In [13]:
def merge_cpg(df):
    for year in [2017,2018]:
        for week in range(1,53):
            for ret in ['SuperMart','BigCo','Rx']:
                for reg in ['North','East','South','West']:
                    ex=df[(df['Retailer']==ret) & (df['CPG Region']==reg) & 
                        (df['Year']==year) & (df['Week']==week)].sum()
                    ex['Sales']=round(ex['Sales'], 2)
                    df.loc[(df['Retailer']==ret) & (df['CPG Region']==reg) & 
                    (df['Year']==year) & (df['Week']==week) & 
                    (df['Category']=='Widgets'),
                    'Sales'] = ex['Sales']
    return df
df_merged=merge_cpg(df_merged)
df_merged.drop_duplicates(subset =["CPG Region","Retailer","Sales","Year","Week"], 
                     keep = "first", inplace = True)
df_marketplan=merge_cpg(df_marketplan)
df_marketplan.drop_duplicates(subset =["CPG Region","Retailer","Sales","Year","Week"], 
                     keep = "first", inplace = True)

                    CPG CPG Region Channel   Retailer Retailer Region  Year  \
0     XYZ Manufacturing      North    Mass  SuperMart           North  2017
1     XYZ Manufacturing       East    Mass  SuperMart            East  2017
2     XYZ Manufacturing      South    Mass  SuperMart      Gulf Coast  2017
4     XYZ Manufacturing       West    Mass  SuperMart            West  2017
9     XYZ Manufacturing      North    Mass      BigCo           North  2017
10    XYZ Manufacturing       East    Mass      BigCo            East  2017
11    XYZ Manufacturing      South    Mass      BigCo           South  2017
12    XYZ Manufacturing       West    Mass      BigCo            West  2017
17    XYZ Manufacturing      North    Drug         Rx           North  2017
18    XYZ Manufacturing       East    Drug         Rx            East  2017
19    XYZ Manufacturing      South    Drug         Rx           South  2017
20    XYZ Manufacturing       West    Drug         Rx            West  2017
25    XYZ Manufacturing      North    Mass  SuperMart           North  2017
26    XYZ Manufacturing       East    Mass  SuperMart            East  2017
27    XYZ Manufacturing      South    Mass  SuperMart      Gulf Coast  2017
29    XYZ Manufacturing       West    Mass  SuperMart            West  2017
34    XYZ Manufacturing      North    Mass      BigCo           North  2017
35    XYZ Manufacturing       East    Mass      BigCo            East  2017
36    XYZ Manufacturing      South    Mass      BigCo           South  2017
37    XYZ Manufacturing       West    Mass      BigCo            West  2017
42    XYZ Manufacturing      North    Drug         Rx           North  2017
43    XYZ Manufacturing       East    Drug         Rx            East  2017
44    XYZ Manufacturing      South    Drug         Rx           South  2017
45    XYZ Manufacturing       West    Drug         Rx            West  2017
50    XYZ Manufacturing      North    Mass  SuperMart           North  2017
51    XYZ Manufacturing       East    Mass  SuperMart            East  2017
52    XYZ Manufacturing      South    Mass  SuperMart      Gulf Coast  2017
54    XYZ Manufacturing       West    Mass  SuperMart            West  2017
59    XYZ Manufacturing      North    Mass      BigCo           North  2017
60    XYZ Manufacturing       East    Mass      BigCo            East  2017
...                 ...        ...     ...        ...             ...   ...
2536  XYZ Manufacturing      South    Mass      BigCo           South  2018
2537  XYZ Manufacturing       West    Mass      BigCo            West  2018
2542  XYZ Manufacturing      North    Drug         Rx           North  2018
2543  XYZ Manufacturing       East    Drug         Rx            East  2018
2544  XYZ Manufacturing      South    Drug         Rx           South  2018
2545  XYZ Manufacturing       West    Drug         Rx            West  2018
2550  XYZ Manufacturing      North    Mass  SuperMart           North  2018
2551  XYZ Manufacturing       East    Mass  SuperMart            East  2018
2552  XYZ Manufacturing      South    Mass  SuperMart      Gulf Coast  2018
2554  XYZ Manufacturing       West    Mass  SuperMart            West  2018
2559  XYZ Manufacturing      North    Mass      BigCo           North  2018
2560  XYZ Manufacturing       East    Mass      BigCo            East  2018
2561  XYZ Manufacturing      South    Mass      BigCo           South  2018
2562  XYZ Manufacturing       West    Mass      BigCo            West  2018
2567  XYZ Manufacturing      North    Drug         Rx           North  2018
2568  XYZ Manufacturing       East    Drug         Rx            East  2018
2569  XYZ Manufacturing      South    Drug         Rx           South  2018
2570  XYZ Manufacturing       West    Drug         Rx            West  2018
2575  XYZ Manufacturing      North    Mass  SuperMart           North  2018
2576  XYZ Manufacturing       East    Mass  SuperMart            East  2018
2577  XYZ Manufacturing      South    Mass  SuperMart      Gulf Coast  2018
2579  XYZ Manufacturing       West    Mass  SuperMart            West  2018
2584  XYZ Manufacturing      North    Mass      BigCo           North  2018
2585  XYZ Manufacturing       East    Mass      BigCo            East  2018
2586  XYZ Manufacturing      South    Mass      BigCo           South  2018
2587  XYZ Manufacturing       West    Mass      BigCo            West  2018
2592  XYZ Manufacturing      North    Drug         Rx           North  2018
2593  XYZ Manufacturing       East    Drug         Rx            East  2018
2594  XYZ Manufacturing      South    Drug         Rx           South  2018
2595  XYZ Manufacturing       West    Drug         Rx            West  2018

      Week Category        Sales
0        1  Widgets   1000000.00
1        1  Widgets   4500000.00
2        1  Widgets   4920000.00
4        1  Widgets   7150000.00
9        1  Widgets   8150000.00
10       1  Widgets   2050000.00
11       1  Widgets   2850000.00
12       1  Widgets   7970000.00
17       1  Widgets   1158000.00
18       1  Widgets   1492000.00
19       1  Widgets   1732000.00
20       1  Widgets   1032000.00
25       2  Widgets    999200.00
26       2  Widgets   4410150.00
27       2  Widgets   5001882.00
29       2  Widgets   7243515.00
34       2  Widgets   8009940.00
35       2  Widgets   2094400.00
36       2  Widgets   2859375.00
37       2  Widgets   8203242.00
42       2  Widgets   1164200.80
43       2  Widgets   1489343.80
44       2  Widgets   1683362.30
45       2  Widgets   1004625.20
50       3  Widgets    963828.32
51       3  Widgets   4238994.69
52       3  Widgets   4984217.80
54       3  Widgets   7315241.52
59       3  Widgets   7995042.77
60       3  Widgets   2178197.00
...    ...      ...          ...
2536    50  Widgets   3260763.28
2537    50  Widgets   5500981.28
2542    50  Widgets    963237.30
2543    50  Widgets   1603419.75
2544    50  Widgets   1729993.59
2545    50  Widgets    912162.88
2550    51  Widgets    855307.02
2551    51  Widgets   5418748.76
2552    51  Widgets   4219566.57
2554    51  Widgets   7892133.26
2559    51  Widgets  11688323.15
2560    51  Widgets   1929335.84
2561    51  Widgets   3250964.10
2562    51  Widgets   5473781.42
2567    51  Widgets    955207.66
2568    51  Widgets   1603693.77
2569    51  Widgets   1712684.50
2570    51  Widgets    907362.12
2575    52  Widgets    853996.50
2576    52  Widgets   5442582.28
2577    52  Widgets   4224948.75
2579    52  Widgets   7913218.18
2584    52  Widgets  11644540.46
2585    52  Widgets   1933204.47
2586    52  Widgets   3227246.38
2587    52  Widgets   5488211.39
2592    52  Widgets    954263.23
2593    52  Widgets   1614247.21
2594    52  Widgets   1715451.72
2595    52  Widgets    905140.30

[1248 rows x 9 columns]

In [10]:
df_merged.head()

,CPG,CPG Region,Channel,Retailer,Retailer Region,Year,Week,Category,Sales
0,XYZ Manufacturing,North,Mass,SuperMart,North,2017,1,Widgets,1000000.0
1,XYZ Manufacturing,East,Mass,SuperMart,East,2017,1,Widgets,3000000.0
2,XYZ Manufacturing,South,Mass,SuperMart,Gulf Coast,2017,1,Widgets,750000.0
3,XYZ Manufacturing,South,Mass,SuperMart,Deep South,2017,1,Widgets,600000.0
4,XYZ Manufacturing,West,Mass,SuperMart,West,2017,1,Widgets,4250000.0

## 3. Merge dataframes
### 3.1. Rename Sales column in both the dataframes

In [14]:
df_merged=df_merged.rename(columns={'Sales': 'Actual numbers'})

In [15]:
df_marketplan=df_marketplan.rename(columns={'Sales': 'Plan numbers'})
df_marketplan.head()

,CPG,CPG Region,Channel,Retailer,Retailer Region,Year,Week,Category,Plan numbers
0,XYZ Manufacturing,North,Mass,SuperMart,North,2017,1,Widgets,1022500.0
1,XYZ Manufacturing,East,Mass,SuperMart,East,2017,1,Widgets,4411650.0
2,XYZ Manufacturing,South,Mass,SuperMart,Gulf Coast,2017,1,Widgets,4912716.0
4,XYZ Manufacturing,West,Mass,SuperMart,West,2017,1,Widgets,7351370.0
9,XYZ Manufacturing,North,Mass,BigCo,North,2017,1,Widgets,7966500.0

### 3.2. Reset the index of the dataframes for merge

In [16]:
df_merged=df_merged.reset_index(drop=True)
df_marketplan=df_marketplan.reset_index(drop=True)
df_merged.head()

,CPG,CPG Region,Channel,Retailer,Retailer Region,Year,Week,Category,Actual numbers
0,XYZ Manufacturing,North,Mass,SuperMart,North,2017,1,Widgets,1000000.0
1,XYZ Manufacturing,East,Mass,SuperMart,East,2017,1,Widgets,4500000.0
2,XYZ Manufacturing,South,Mass,SuperMart,Gulf Coast,2017,1,Widgets,4920000.0
3,XYZ Manufacturing,West,Mass,SuperMart,West,2017,1,Widgets,7150000.0
4,XYZ Manufacturing,North,Mass,BigCo,North,2017,1,Widgets,8150000.0

### 3.3. Sales conversion
#### 3.3.1. Function to convert value to indian currency

In [17]:
def currency_in_indian_format(n):
    """ Convert a number (int / float) into indian formatting style """
    d = decimal.Decimal(str(n))

    if d.as_tuple().exponent < -2:
        s = str(n)
    else:
        s = '{0:.2f}'.format(n)

    l = len(s)
    i = l - 1

    res, flag, k = '', 0, 0
    while i >= 0:
        if flag == 0:
            res += s[i]
            if s[i] == '.':
                flag = 1
        elif flag == 1:
            k += 1
            res += s[i]
            if k == 3 and i - 1 >= 0:
                res += ','
                flag = 2
                k = 0
        else:
            k += 1
            res += s[i]
            if k == 2 and i - 1 >= 0:
                res += ','
                flag = 2
                k = 0
        i -= 1

    return res[::-1]

#### 3.3.2. Converting Actual numbers column to indian currency

In [18]:
for i in range (0,len(df_merged.index)):
    a=df_merged['Actual numbers'][i]
    b=currency_in_indian_format(a)
    df_merged['Actual numbers'][i]=b

D:\Anaconda\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  after removing the cwd from sys.path.
D:\Anaconda\lib\site-packages\pandas\core\indexing.py:189: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self._setitem_with_indexer(indexer, value)

#### 3.3.3. Converting Plan numbers column to indian currency

In [19]:
for i in range (0,len(df_marketplan.index)):
    a=df_marketplan['Plan numbers'][i]
    b=currency_in_indian_format(a)
    df_marketplan['Plan numbers'][i]=b

D:\Anaconda\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  after removing the cwd from sys.path.
D:\Anaconda\lib\site-packages\pandas\core\indexing.py:189: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self._setitem_with_indexer(indexer, value)

### 3.4. Merge both dataframes

In [20]:
df_plantoactual_trial=pd.merge(df_marketplan, df_merged, on=("Retailer Region","CPG","CPG Region","Channel","Year","Week",
                                                    "Category","Retailer"))
df_plantoactual_trial.head()

,CPG,CPG Region,Channel,Retailer,Retailer Region,Year,Week,Category,Plan numbers,Actual numbers
0,XYZ Manufacturing,North,Mass,SuperMart,North,2017,1,Widgets,"10,22,500.00","10,00,000.00"
1,XYZ Manufacturing,East,Mass,SuperMart,East,2017,1,Widgets,"44,11,650.00","45,00,000.00"
2,XYZ Manufacturing,South,Mass,SuperMart,Gulf Coast,2017,1,Widgets,"49,12,716.00","49,20,000.00"
3,XYZ Manufacturing,West,Mass,SuperMart,West,2017,1,Widgets,"73,51,370.00","71,50,000.00"
4,XYZ Manufacturing,North,Mass,BigCo,North,2017,1,Widgets,"79,66,500.00","81,50,000.00"

In [21]:
df_plantoactual=pd.DataFrame(df_plantoactual_trial)
df_plantoactual=df_plantoactual.drop(['CPG','Channel','Retailer Region'],axis=1)
df_plantoactual.head()

  CPG Region   Retailer  Year  Week Category  Plan numbers Actual numbers
0      North  SuperMart  2017     1  Widgets  10,22,500.00   10,00,000.00
1       East  SuperMart  2017     1  Widgets  44,11,650.00   45,00,000.00
2      South  SuperMart  2017     1  Widgets  49,12,716.00   49,20,000.00
3       West  SuperMart  2017     1  Widgets  73,51,370.00   71,50,000.00
4      North      BigCo  2017     1  Widgets  79,66,500.00   81,50,000.00

## 4. Export as csv

In [22]:
df_plantoactual.to_csv("marketplantoactual.csv",index = False)